In [1]:
# Dictionary is an unordered collection of key and value pairs,where the keys and values of any datatype

# Creating A dictionary

In [5]:
student = {"John" : 75,"Mark" : 85,"Sara" : 90,"Sanjay" : 95}

In [6]:
print(type(student))

<class 'dict'>

# Accesing Dictionary items

In [7]:
print(student["John"])

75

In [8]:
for i in student:
    print(i)

John
Mark
Sara
Sanjay

In [10]:
for  i in student:
    print(f"{i} got",student[i],"marks in English")

John got 75 marks in English
Mark got 85 marks in English
Sara got 90 marks in English
Sanjay got 95 marks in English

# To print all the values of dictionary

In [12]:
for i in student.values():
    print(i)

75
85
90
95

# If we want keys and values both we can do like this way

In [14]:
for keys,values in student.items():
    print(f"{keys} has got {values} marks in Maths.")

John has got 75 marks in Maths.
Mark has got 85 marks in Maths.
Sara has got 90 marks in Maths.
Sanjay has got 95 marks in Maths.

In [15]:
student = {"Mark" : [60,65,64,63,93],"Sarah" : [82,83,84,85,87]}

In [16]:
print(student)

{'Mark': [60, 65, 64, 63, 93], 'Sarah': [82, 83, 84, 85, 87]}

In [17]:
print(student["Mark"])

[60, 65, 64, 63, 93]

# TO iterate marks of particular student

In [18]:
for i in student["Sarah"]:
    print(i,end=" ")

82 83 84 85 87

In [19]:
for i in student:
    print(i,student[i])

Mark [60, 65, 64, 63, 93]
Sarah [82, 83, 84, 85, 87]

In [21]:
for i in student:
    for j in student[i]:
        print(i,j)
    print()

Mark 60
Mark 65
Mark 64
Mark 63
Mark 93

Sarah 82
Sarah 83
Sarah 84
Sarah 85
Sarah 87

# Adding Items To The dictionary

In [3]:
a = {"Raj" : 20,"Prasham" : 22,"Saba" : 25}

In [24]:
# Adding items and it can be added anywhere in dictionary as it unordered
a["Hrithik"] = 19

In [25]:
print(a)

{'Raj': 20, 'Prasham': 22, 'Saba': 25, 'Hrithik': 19}

In [27]:
for key,value in a.items():
    print(f"{key} is {value} years old")

Raj is 20 years old
Prasham is 22 years old
Saba is 25 years old
Hrithik is 19 years old

In [8]:
x = list(a.keys())
x

['Raj', 'Prasham', 'Saba', 'Manthan']

In [6]:
a["Manthan"]=30

In [9]:
x.remove("Manthan")

In [10]:
a

{'Raj': 20, 'Prasham': 22, 'Saba': 25, 'Manthan': 30}

In [11]:
x

['Raj', 'Prasham', 'Saba']