In [1]:
# Sets is collection of unordered data items which can of different data types
# Sets are defined in curly brackets.
# In sets all the elements are unique

# Define a Set

In [3]:
a = {.10,0,1,2,3,"Hello",True}
print(a)

{0.1, 0, 2, 3, 1, 'Hello'}

In [9]:
B = {True,False,'True','False',0,1,10,20,20,30.25,20.2}

In [10]:
B

{10, 20, 20.2, 30.25, False, 'False', True, 'True'}

In [11]:
type(B)

set

In [7]:
# Set doesnt contains duplicate values
list1 = [1,2,3,4,4,5,5.0,6,0.6,17,17.25,18,True,False]

In [8]:
list1

[1, 2, 3, 4, 4, 5, 5.0, 6, 0.6, 17, 17.25, 18, True, False]

# Converting list into a set by using set operator
# set method is constructor like int,str,etc....

In [10]:
# Covert list into set
print(set(list1))
print(type(list1))

{0.6, 1, 2, 3, 4, 5, 6, False, 17, 17.25, 18}
<class 'list'>

In [11]:
# Printing set element
for i in set(list1):
    print(i,end=" ")

0.6 1 2 3 4 5 6 False 17 17.25 18